<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.event_lottery">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Event_lottery"
        tools:targetApi="31">
        <!-- Main Dashboard Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginMainActivity"
            android:exported="true">
            <intent-filter>

                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="myapp" android:host="event" />

            </intent-filter>
        </activity>
        <activity android:name=".QRCodeDetailsActivity" />
        <activity android:name=".QRCodeManagementActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".OrganizerDashboardActivity" />
        <activity android:name=".CreateEventActivity" />
        <activity android:name=".EventListActivity" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".NotificationSettingsActivity" />
        <activity android:name=".AdminDashboardActivity" />
        <activity android:name=".EventManagementActivity" />
        <activity android:name=".AdminEventDetailsActivity" />
        <activity android:name=".QRCodeScannerActivity"
            android:exported="true" />
        <activity android:name=".ImageUploadActivity" />
        <activity android:name=".Entrant_qr_code_activity" />
        <activity android:name=".OngoingEventsActivity" />
        <activity android:name=".EventDetailsActivity" />
        <activity android:name=".WaitingListActivity"/>
        <activity android:name=".AdminProfileManagementActivity" />
        <activity android:name=".AdminUserDetailsActivity" />
        <activity android:name=".ManageFacilityActivity" />
        <activity android:name=".NotificationActivity" />
        <activity android:name=".EntrantUserWaitingListActivity" />
        <activity android:name=".EntrantEventWaitingDetails" />
        <activity android:name=".NotificationListActivity" />
        <activity
            android:name=".RunLotteryActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:name=".SendNotificationActivity" />
        <activity android:name=".ParticipantManagementActivity" />
        <activity android:name=".ChosenEntrantsActivity" />
        <activity android:name=".NotificationDetailsActivity" />



    </application>

</manifest>
