<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Event_lottery"
        tools:targetApi="31">

        <!-- Main Activity with Intent Filters for Deep Links -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="myapp" android:host="event" />
            </intent-filter>
        </activity>

        <!-- Application Activities -->
        <activity android:name=".LoginActivity" android:exported="true"/>
        <activity android:name=".SignupActivity" android:exported="true"/>
        <activity android:name=".DashboardActivity" android:exported="true"/>
        <activity android:name=".OrganizerDashboardActivity" android:exported="true"/>
        <activity android:name=".CreateEventActivity" android:exported="true"/>
        <activity android:name=".EventListActivity" android:exported="true"/>
        <activity android:name=".EditProfileActivity" android:exported="true"/>
        <activity android:name=".NotificationSettingsActivity" android:exported="false"/>
        <activity android:name=".AdminDashboardActivity" android:exported="true"/>
        <activity android:name=".EventManagementActivity" android:exported="true"/>
        <activity android:name=".AdminEventDetailsActivity" android:exported="true"/>
        <activity android:name=".OngoingEventsActivity" android:exported="true"/>
        <activity android:name=".EventDetailsActivity" android:exported="true"/>
        <activity android:name=".WaitingListActivity" android:exported="true"/>
        <activity android:name=".AdminProfileManagementActivity" android:exported="true"/>
        <activity android:name=".AdminUserDetailsActivity" android:exported="true"/>
        <activity android:name=".ManageFacilityActivity" android:exported="true"/>

    </application>

</manifest>
